/* Css reseting */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: TheMixSemiBold;
}

@font-face {
  font-family: TheMixSemiBold;
  src: url("./../assets/fonts/TheMixSemiBold-Plain.otf");
}
@font-face {
  font-family: TheMix-9-BlackCaps;
  src: url("./../assets/fonts/TheMix-9-BlackCaps.otf");
}
body {
  background-color: rgb(237, 231, 231);
}
nav {
  width: 100%;
  padding: 20px 30px;
}

nav li {
  list-style: none;
}

nav button,
.community-card button {
  padding: 10px 20px;
  border-radius: 30px;
}
nav button a {
  padding: 0 12px;
}
nav a {
  text-decoration: none;
  padding: 12px 15px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 150;
}

nav a:hover {
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 2px;
}

.slide {
  background-image: url("./../assets/images/slide-nav.jpg");
  width: 100%;
  height: 1024px;
}
.slide-text {
  flex-grow: 1;
  padding: 50px;
}
.slide-text > p {
  font-weight: 600;
  font-size: 50px;
  text-transform: initial;
  text-align: center;
  font-family: TheMix-9-BlackCaps;
  line-height: 1.3em;
  font-stretch: expanded;
}
.foundation-text > h2,
.community-section h2 {
  text-align: center;
  font-family: TheMix-9-BlackCaps;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  padding: 20px;
  text-transform: uppercase;
  font-stretch: expanded;
}

.foundation-card {
  padding: 30px;
  width: 230px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}
.foundation-card h6,
.community-card h4 {
  font-family: TheMix-9-BlackCaps;
  font-size: 20px;
  font-weight: 600;
  font-stretch: expanded;
}
.foundation-card img {
  padding: 10px;
  width: 80%;
  height: 120px;
}

.vision-bg {
  width: 110%;
  height: 691px;
  margin: 30px 0;
  background-image: url("./../assets/images/Shared-Space-at-BDD.png");
  opacity: 0.7;
  /* position: fixed; */
}

.vision {
  width: 100%;
  height: fit-content;
  /* position: absolute; */
  background-color: transparent;
  padding: 50px;
}
.vision img {
  width: 500px;
  height: 300px;
}

.community-section img {
  width: 400px;
  height: 350px;
}
.community-card {
  border-radius: 2px;
  background-image: url(./../assets/images/bg-com-card.png);
  width: 200px;
  padding: 40px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 0px 0px rgb(219, 224, 226) inset;
}
.community-card ul {
  padding: 10px;
  list-style: none;
  list-style-image: url(./../assets/images/community-card-list-img.png);
}
