/* Css reseting */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: TheMixSemiBold;
}

@font-face {
  font-family: TheMixSemiBold;
  src: url("./../assets/fonts/TheMixSemiBold-Plain.otf");
}
@font-face {
  font-family: TheMix-9-BlackCaps;
  src: url("./../assets/fonts/TheMix-9-BlackCaps.otf");
}
nav {
  width: 100%;
  padding: 20px 30px;
}

nav li {
  list-style: none;
}

nav button {
  padding: 10px 20px;
  border-radius: 30px;
}
nav button a {
  padding: 0 12px;
}
nav a {
  text-decoration: none;
  padding: 12px 15px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 150;
}

nav a:hover {
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 2px;
}

.slide {
  background-image: url("./../assets/images/slide-nav.jpg");
  width: 100%;
  height: 1024px;
}
.slide-text {
  flex-grow: 1;
  background-color: rgb(240, 248, 255, 0.2);
  padding: 50px;
}
.slide-text > p {
  font-weight: 600;
  font-size: 50px;
  text-transform: initial;
  text-align: center;
  font-family: TheMix-9-BlackCaps;
  line-height: 1.3em;
  font-stretch: expanded;
}
