/* Css reseting */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: TheMixSemiBold;
}
button {
  cursor: pointer;
}

@font-face {
  font-family: TheMixSemiBold;
  src: url("./../assets/fonts/TheMixSemiBold-Plain.otf");
}
@font-face {
  font-family: TheMix-9-BlackCaps;
  src: url("./../assets/fonts/TheMix-9-BlackCaps.otf");
}
body {
  background-color: rgb(237, 231, 231);
}
nav {
  width: 100%;
  padding: 20px 30px;
}

nav li {
  list-style: none;
}

nav button,
.community-card button,
.trend-container button {
  padding: 10px 20px;
  border-radius: 30px;
}
nav button a {
  padding: 0 12px;
}
nav a {
  text-decoration: none;
  padding: 12px 15px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 150;
}

nav a:hover {
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 2px;
}

.slide {
  background-image: url("./../assets/images/slide-nav.jpg");
  width: 100%;
  height: 1024px;
}
.slide-text {
  flex-grow: 1;
  padding: 50px;
}
.slide-text > p {
  font-weight: 600;
  font-size: 50px;
  text-transform: initial;
  text-align: center;
  font-family: TheMix-9-BlackCaps;
  line-height: 1.3em;
  font-stretch: expanded;
}
.foundation-text > h2,
.community-section h2,
.stats > h2,
.trend-container > h2,
.community-words-section h2 {
  text-align: center;
  font-family: TheMix-9-BlackCaps;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  padding: 20px;
  text-transform: uppercase;
  font-stretch: expanded;
}

.foundation-card {
  padding: 30px;
  width: 230px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}
.foundation-card h6,
.community-card h4,
.trend-card h2 {
  font-family: TheMix-9-BlackCaps;
  font-size: 20px;
  font-weight: 600;
  font-stretch: expanded;
}
.foundation-card img {
  padding: 10px;
  width: 80%;
  height: 120px;
}

.vision {
  width: 100%;
  background-image: url("./../assets/images/Shared-Space-at-BDD.png");
  height: 400px;
  padding: 50px;
  margin: 30px 0;
}
.vision img {
  width: 500px;
  height: 300px;
}
.vision h2 {
  font-family: TheMix-9-BlackCaps;
  font-size: 30px;
  font-weight: 600;
}
.community-section img {
  width: 400px;
  height: 350px;
}
.community-card {
  border-radius: 2px;
  background-image: url(./../assets/images/bg-com-card.png);
  width: 200px;
  padding: 40px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 0px 0px rgb(219, 224, 226) inset;
}
.community-card ul {
  padding: 10px;
  list-style: none;
  list-style-image: url(./../assets/images/community-card-list-img.png);
}

.bdd-app {
  margin-top: 50px;
  gap: 20px;
}
.bdd-app > div {
  width: 500px;
  height: 200px;
  gap: 100px;
}
.bdd-app img,
.trend-card img,
.community-words-images img,
.footer-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.app-img {
  height: 100px;
}

.bdd-app > p {
  font-family: TheMix-9-BlackCaps;
  font-size: 20px;
  color: #434141;
}

.stats {
  width: 100%;
  background-image: url("./../assets/images/parallax.jpg");
  background-position: left bottom;
  height: 500px;
}

.stats-card {
  padding: 50px;
  width: 300px;
  gap: 10px;
}

.stats-card > div {
  width: 100px;
  height: 100px;
}
.stats-card > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.stats-card > p {
  font-family: TheMix-9-BlackCaps;
  font-size: 20px;
  color: #434141;
  text-align: center;
}
.trend-container {
  width: 100%;
  padding: 30px 0;
}
.trend-container > div {
  gap: 20px;
}
.trend-card {
  padding: 0;
  width: 300px;
  background-color: white;
}
.trend-card-text {
  padding: 30px;
  gap: 20px;
}

.trend-card p {
  font-family: TheMixSemiBold;
  font-size: 10px;
  color: #434141;
  text-align: left;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: #434141;
}

.community-words-section {
  padding: 50px;
  background-color: white;
}

.community-words-images {
  gap: 5px;
}
.community-words-images > div {
  width: 250px;
  height: 200px;
}
.community-words-section h2 {
  text-align: left;
  font-size: 30px;
  padding: 0;
}

footer {
  background-color: rgb(45, 42, 42);
  padding: 50px;
}
footer > div {
  gap: 10px;
}

.footer-titles {
  width: 100%;
}
.footer-titles > p {
  font-family: TheMix-9-BlackCaps;
  font-weight: 600;
  color: #7a7171;
  text-transform: uppercase;
}
.footer-text {
  width: 100%;
}
.grey-titles {
  color: #656161;
  font-weight: bold;
}
.footer-text-small {
  font-size: 15px;
  font-stretch: expanded;
  padding: 10px;
  gap: 10px;
}
.newsletter {
  padding-right: 150px;
}
.footer-img {
  width: 180px;
  height: 50px;
}
.footer-img-container {
  width: 100%;
}
.contact {
  gap: 10px;
}
.legist {
  gap: 5px;
}
.legist > p,
.credits {
  font-size: small;
}
.credits {
  margin: 20px 0;
}
.media {
  gap: 5px;
}
.footer-end {
  padding-top: 20px;
}
